.Nome{
    font-family: "Playwrite GB S", serif;
    font-size: 50px;
    margin: 0 10px 40px 10px;
}

#Nome_Principal{
    margin: 0;
    font-size: auto;
    text-align: center;
}

.informações{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Informações_pessoais{
    border-right-style: solid;
    padding: 10px;
    min-width: 25%;
    max-height: 25%;
}

.Informações_pessoais h3{
    text-align: center;
    margin: 8px 0 8px 0;
}

figure{
    margin: auto;
    text-align: center;
    
}

#Foto_perfil{
    height: 200px;
    border-radius: 10%;
    box-shadow: 5px 5px 25px black;
    margin-bottom: 10px;
}

.Informações_profisionais{
    padding: 5%;
    max-block-size: 80%;

}

.Informações_pessoais dt{
    font-weight: bold;
}